
<body>
<div class="container">
  <div class="row pt-2 pb-1">
    <div class="col-md-3 col-md-offset-1">
      <h3 class="text-center product-text">Buy Lists Online</h3>
      <a href="https://consumerbase.com/build-your-own-list.html"  target="_blank"><img class="center" src="https://static1.squarespace.com/static/52a21a70e4b099b82e2005c1/t/576169ed86db43573eec7bef/1466182872177/?format=300w"></a>
    </div>
    <div class="col-md-3">
      
      <h3 class="text-center product-text">Email Validation</h3>
      <a href="http://www.briteverify.com/?pcode=adw_BriteVerify&gclid=CMWevImD9NACFQgaaQodXBIBjA" target="_blank"><img class="center" src="https://static1.squarespace.com/static/52a21a70e4b099b82e2005c1/t/576169d986db43573eec7b7b/1466214908445/?format=300w"></a>
    </div>
    <div class="col-md-3">
      <h3 class="text-center product-text">Data Appends</h3>
      <a href="https://datafinder.com/products/email-append" target="_blank"><img class="displayed" src="https://static1.squarespace.com/static/52a21a70e4b099b82e2005c1/t/57616aeaf699bbc20e8abdc9/1476308502821/?format=300w"></a>
    </div>

  </div>

  <div class="row pt-2 pb-3">
    <div class="col-md-3 col-md-offset-1">
      <h3 class="text-center product-text">Phone Verification</h3>
      <a href="/"><img class="displayed" src="https://static1.squarespace.com/static/52a21a70e4b099b82e2005c1/t/577160b320099e6e6648329d/1467048141471/?format=300w"></a>
    </div>
    <div class="col-md-3">
      <h3 class="text-center product-text">List Modeling</h3>
      <a href="/"><img class="displayed" src="https://static1.squarespace.com/static/52a21a70e4b099b82e2005c1/t/57716111b8a79b913f75eaf5/1467048221384/?format=300w"></a>
    </div>
    <div class="col-md-3">
      <h3 class="text-center product-text">Become a Reseller</h3>
      <a href="/"><img class="displayed" src="https://static1.squarespace.com/static/52a21a70e4b099b82e2005c1/t/57616ac84c2f85e910fb2285/1477409083488/?format=300w"></a>
    </div>
  </div>
</div>
</body>
